
*{margin: 0; padding: 0;}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
	.Wrapper{ background-image: url('viv.jpeg'); width:100%; height: 100vh;clip-path: circle(60%);
  clip-path: circle(bottom-20%); background-size: cover; opacity:6 ;} 
	.hit{color: white;
		padding-left: 800px;
		padding-top: 40px;
		font-family: 'Metal Mania', cursive;
		font-size: 2rem;
		text-shadow: 3px 1.5px red;
		animation:aagepiche 5s linear infinite;
		animation-direction: alternate;
		}
		@keyframes aagepiche{
			from{padding-left:400px; }
			to{padding-right: 30px;}
		}
	.him{color: white;
		padding-left: 200px;
		padding-top: 80px;
		font-family: 'Metal Mania', cursive;
		font-size: 2rem;
		text-shadow: 3px 1.5px red;
		}
	.sis{color: white;
		padding-left: 500px;
		font-size: 2rem;
		font-family: 'Metal Mania', cursive;
		text-shadow: 3px 1.5px red;
		}
		.sim{
			color: white;
			padding-top: 10px;
			padding-left: 300px;
			font-family: 'Metal Mania', cursive;
			font-size: 2rem;
			text-shadow: 3px 1.5px red;
		}
		.change_content:after{
	content:'';
	animation:changetext  3s infinite linear;
	text-shadow: 0px 0px #f2f2f2;}
@keyframes changetext{
	0%{content:"Webdevelopers";}
	100%{content:"Future Pattern";}
}
.botton{

	display: flex;
	width:25%;
	padding-left: 350px;
	padding-top: 40px;
	font-size: 1.6rem;
	justify-content: space-around;
}
.navee{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.navee:hover{
	background-color:#708090;
}
.baapu{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.baapu:hover{
	background-color:#708090;
}
.viv{
	padding-left: 750px;
	font-size: 1.3rem;
	color: 	 #f2ffe6;
	padding-top: 55px;
	text-shadow: 3px 2px #4B0082;
}

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

	.Wrapper{ background-image: url('viv.jpeg'); width:100%; height: 103vh;clip-path: circle(60%);
  clip-path: circle(bottom-20%); background-size: cover;} 
	.hit{color: white;
		padding-left: 500px;
		padding-top: 40px;
		font-family: 'Metal Mania', cursive;
		font-size: 1.8rem;
		text-shadow: 3px 1.5px red;
		animation:aagepiche 5s linear infinite;
		animation-direction: alternate;
		}
		@keyframes aagepiche{
			from{padding-left:120px; }
			to{padding-right: 50px;}
		}
	.him{color: white;
		padding-left: 200px;
		padding-top: 70px;
		font-family: 'Metal Mania', cursive;
		font-size: 1.7rem;
		text-shadow: 3px 1.5px red;
		}
	.sis{color: white;
		padding-left: 450px;
		font-size: 1.5rem;
		font-family: 'Metal Mania', cursive;
		text-shadow: 3px 1.5px red;
		}
		.sim{
			color: white;
			padding-top: 10px;
			padding-left: 250px;
			font-family: 'Metal Mania', cursive;
			font-size: 1.7rem;
			text-shadow: 3px 1.5px red;
		}
		.change_content:after{
	content:'';
	animation:changetext  3s infinite linear;
	text-shadow: 0px 0px #f2f2f2;}
@keyframes changetext{
	0%{content:"Webdevelopers";}
	100%{content:"Future Pattern";}
}
.botton{

	display: flex;
	width:25%;
	padding-left: 350px;
	padding-top: 40px;
	font-size: 1rem;
	justify-content: space-around;
}
.navee{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.navee:hover{
	background-color:#708090;
}
.baapu{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.baapu:hover{
	background-color:#708090;
}
.viv{
	padding-left: 150px;
	font-size: 0.9rem;
	color: 	 #f2ffe6;
	padding-top: 110px;
	text-shadow: 3px 2px #4B0082;
}

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .Wrapper{ background-image: url('viv.jpeg'); width:100%; height: 100vh;clip-path: circle(60%);
  clip-path: circle(bottom-20%); background-size: cover;} 
	.hit{color: white;
		padding-left: 300px;
		padding-top: 70px;
		font-family: 'Metal Mania', cursive;
		font-size: 2rem;
		text-shadow: 3px 1.5px red;
		animation:aagepiche 5s linear infinite;
		animation-direction: alternate;
		}
		@keyframes aagepiche{
			from{padding-left:120px; }
			to{padding-right: 60px;}
		}
	.him{color: white;
		padding-left: 80px;
		padding-top: 120px;
		font-family: 'Metal Mania', cursive;
		font-size: 2rem;
		text-shadow: 3px 1.5px red;
		}
	.sis{color: white;
		padding-left: 350px;
		font-size: 1.7rem;
		font-family: 'Metal Mania', cursive;
		text-shadow: 3px 1.5px red;
		}
		.sim{
			color: white;
			padding-top: 10px;
			padding-left: 150px;
			font-family: 'Metal Mania', cursive;
			font-size: 2rem;
			text-shadow: 3px 1.5px red;
		}
		.change_content:after{
	content:'';
	animation:changetext  3s infinite linear;
	text-shadow: 0px 0px #f2f2f2;}
@keyframes changetext{
	0%{content:"Webdevelopers";}
	100%{content:"Future Pattern";}
}
.botton{

	display: flex;
	width:45%;
	padding-left: 225px;
	padding-top: 40px;
	font-size: 2rem;
	justify-content: space-around;
}
.navee{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.navee:hover{
	background-color:#708090;
}
.baapu{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.baapu:hover{
	background-color:#708090;
}
.viv{
	padding-left: 100px;
	font-size: 1.5rem;
	color: 	 #f2ffe6;
	padding-top: 130px;
	text-shadow: 3px 2px #4B0082;
}

  
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 .Wrapper{ background-image: url('viv.jpeg'); width:100%; height: 100vh;clip-path: circle(60%);
  clip-path: circle(bottom-20%); background-size: cover;} 
	.hit{color: white;
		padding-left: 500px;
		padding-top: 40px;
		font-family: 'Metal Mania', cursive;
		font-size: 2rem;
		text-shadow: 3px 1.5px red;
		animation:aagepiche 5s linear infinite;
		animation-direction: alternate;
		}
		@keyframes aagepiche{
			from{padding-left:100px; }
			to{padding-right: 30px;}
		}
	.him{color: white;
		padding-left: 200px;
		padding-top: 80px;
		font-family: 'Metal Mania', cursive;
		font-size: 2rem;
		text-shadow: 3px 1.5px red;
		}
	.sis{color: white;
		padding-left: 500px;
		font-size: 2rem;
		font-family: 'Metal Mania', cursive;
		text-shadow: 3px 1.5px red;
		}
		.sim{
			color: white;
			padding-top: 10px;
			padding-left: 300px;
			font-family: 'Metal Mania', cursive;
			font-size: 2rem;
			text-shadow: 3px 1.5px red;
		}
		.change_content:after{
	content:'';
	animation:changetext  3s infinite linear;
	text-shadow: 0px 0px #f2f2f2;}
@keyframes changetext{
	0%{content:"Webdevelopers";}
	100%{content:"Future Pattern";}
}
.botton{

	display: flex;
	width:30%;
	padding-left: 400px;
	padding-top: 40px;
	font-size: 1.7rem;
	justify-content: space-around;
}
.navee{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.navee:hover{
	background-color:#708090;
}
.baapu{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.baapu:hover{
	background-color:#708090;
}
.viv{
	padding-left: 200px;
	font-size: 1.3rem;
	color: 	 #f2ffe6;
	padding-top: 60px;
	text-shadow: 3px 2px #4B0082;
}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .Wrapper{ background-image: url('viv.jpeg'); width:100%; height: 100vh;clip-path: circle(60%);
  clip-path: circle(bottom-20%); background-size: cover;} 
	.hit{color: white;
		padding-left: 200px;
		padding-top: 60px;
		font-family: 'Metal Mania', cursive;
		font-size: 1rem;
		text-shadow: 3px 1.5px red;
		animation:aagepiche 3s linear infinite;
		animation-direction: alternate;
		}
		@keyframes aagepiche{
			from{padding-left:100px; }
			to{padding-right: 30px;}
		}
	.him{color: white;
		padding-left: 30px;
		padding-top: 80px;
		font-family: 'Metal Mania', cursive;
		font-size: 1.3rem;
		text-shadow: 3px 1.5px red;
		}
	.sis{color: white;
		padding-left: 200px;
		font-size: 1.6rem;
		font-family: 'Metal Mania', cursive;
		text-shadow: 3px 1.5px red;
		}
		.sim{
			color: white;
			padding-top: 10px;
			padding-left: 60px;
			font-family: 'Metal Mania', cursive;
			font-size: 1.4rem;
			text-shadow: 3px 1.5px red;
		}
		.change_content:after{
	content:'';
	animation:changetext  3s infinite linear;
	text-shadow: 0px 0px #f2f2f2;}
@keyframes changetext{
	0%{content:"Webdevelopers";}
	100%{content:"Future Pattern";}
}
.botton{

	display: flex;
	width:55%;
	padding-left: 120px;
	padding-top: 70px;
	font-size: 1.5rem;
	justify-content: space-around;
}
.navee{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.navee:hover{
	background-color:#708090;
}
.baapu{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.baapu:hover{
	background-color:#708090;
}
.viv{
	padding-left: 70px;
	font-size: 1.2rem;
	color: 	 #f2ffe6;
	padding-top: 100px;
	text-shadow: 3px 2px #4B0082;
}

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    .Wrapper{ background-image: url('viv.jpeg'); width:100%; height: 100vh;clip-path: circle(60%);
  clip-path: circle(bottom-20%); background-size:cover; opacity: 2} 
	.hit{color: white;
		padding-left: 80px;
		padding-top: 30px;
		font-family: 'Metal Mania', cursive;
		font-size: 1.2rem;
		text-shadow: 3px 1.5px red;
		animation:aagepiche 2s linear infinite;
		animation-direction: alternate;
		}
		@keyframes aagepiche{
			from{padding-left:30px; }
			to{padding-right: 10px;}
		}
	.him{color: white;
		padding-left: 35px;
		padding-top: 30px;
		font-family: 'Metal Mania', cursive;
		font-size: 0.8rem;
		text-shadow: 3px 1.5px red;
		}
	.sis{color: white;
		padding-left: 130px;
		font-size: 2rem;
		font-family: 'Metal Mania', cursive;
		text-shadow: 3px 1.5px red;
		}
		.sim{
			color: white;
			padding-top: 5px;
			padding-left: 50px;
			font-family: 'Metal Mania', cursive;
			font-size:0.9rem;
			text-shadow: 3px 1.5px red;
		}
		.change_content:after{
	content:'';
	animation:changetext  3s infinite linear;
	text-shadow: 0px 0px #f2f2f2;}
@keyframes changetext{
	0%{content:"Webdevelopers";}
	100%{content:"Future Pattern";}
}
.botton{

	display: flex;
	width:62%;
	padding-left: 68px;
	padding-top: 40px;
	font-size: 1.2rem;
	justify-content: space-around;
}
.navee{
	text-decoration: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
}
.navee:hover{
	background-color:#708090;
}
.baapu{
	text-decora
dottedtion: none;
	color: black;
	border:1px dotted white;
	border-radius: 5px;
	font-family: 'Metal Mania', cursive;
	background-color: white;
	border-color: red;
	text-decoration: none;
}
.baapu:hover{
	background-color:#708090;
}
.viv{
	padding-left: 50px;
	font-size: 0.8rem;
	color: 	 #f2ffe6;
	padding-top: 40px;
	text-shadow: 3px 2px #4B0082;
}

  
}
